<h2>选择发送类型<span class="info"></span></h2>
<div class="form-set">
  <ul>
    <dt><label for="J-select_type">选择类型</label></dt>
    <dd>
      <div class="">
          <input type="radio" id="J-type1" name="type" value="公司" /><label for="J-type1">公司</label>
          <input type="radio" id="J-type2" name="type" value="客户" /><label for="J-type2">客户</label>
      </div>
    </dd>

    <div class="tool-bar clrfix">
      <button class="submit-btn" id="J-go_type">下一步</button>
      <button class="cancel-btn">取消</button>
    </div>
  </ul>
</div>