<%= content_for :head do %>
    <%= javascript_include_tag "jquery.md5" %>
    <%= javascript_include_tag "message" %>
<% end %>

<!----main-content{{{{---->
<div class="main-content">
    <!----admin-content{{{{{---->
    <div class="admin-content">
      <div class="tool-bar clrfix">
          <button class="submit-btn " id = "J-account_query">余额查询</button>
      </div>
      <div id="J-receive_content">

      </div>
    </div>
</div>
<!----main-content---->