<%= content_for :head do %>
    <%= javascript_include_tag "jquery.md5" %>
    <%= javascript_include_tag "message" %>
<% end %>

<!----main-content{{{{---->
<div class="main-content">
    <!----admin-content{{{{{---->
    <div class="admin-content">
        <h2>短信列表<span class="info"></span></h2>
        <div id="J-message_history">
        </div>
    </div>
    <!----}admin-content---->
</div>
<!----main-content---->