<div id="doc-main">
    <div id="hd">
        <h1>
            <a href="index.html">
                <%= image_tag("logo-write-200x40.png") %>
            </a>
        </h1>
    </div>
    <div id="bd" class="clrfix">
        <div class="main-block">
            <div class="main-content">
                <h2>403 Forbidden</h2>
                <p>你没有权限访问这个页面.</p>
                <p><a href="/workflows/workflow_flow"><%= I18n.t("views.links.home") %></a></p>
            </div>
        </div>
    </div>
</div>