<%= content_for :head do %>
    <%= javascript_include_tag "company" %>
<% end %>
    <!--新增组弹框{-->
    <div id="createGroup" title="新增组">
        <div class="form-set">
            <form method="post" action="">
                <dl>
                    <dt>组名称</dt>
                    <dd>
                      <input type="text" name="" value=""
                               class="inp inp2" id="groupname"/>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
    <!--}新增组弹框-->