<div id="bd" class="clrfix">
    <div class="main-block">
        <div class="main-content">
            <h2>404 Not Found</h2>
            <p>当前页面不存在.</p>
            <p><a href="/workflows/workflow_flow"><%= I18n.t("views.links.home") %></a></p>
        </div>
    </div>
</div>